[Unit]
Description=Plug2Proxy

[Service]
User=root
ExecStart=/usr/sbin/plug2proxy /etc/plug2proxy/config.json --data-dir /etc/plug2proxy
ExecStartPre=nft --file /etc/plug2proxy/nftables.conf
ExecStopPost=nft flush table ip plug2proxy
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
