[Unit]
Description=Plug2Proxy IN Node
After=network.target

[Service]
User=root
WorkingDirectory=/etc/plug2proxy
ExecStartPre=/usr/sbin/nft --file /etc/plug2proxy/nftables.conf
ExecStart=/usr/sbin/plug2proxy
ExecStopPost=-/usr/sbin/nft delete table ip plug2proxy
ExecStopPost=-/usr/sbin/nft delete table ip6 plug2proxy
Restart=always
RestartSec=5
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
